html,
body,
.root {
    height: 100%;
}
body {
    line-height: 1.5;
}
body,
.app {
    background: white;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 25px;
    left: 20px;
    top: 13px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
    right: 20px !important;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}
/* Adjust menu width */
.bm-menu-wrap {
    width: 350px !important;
    height: calc(100%-52px);
    top: 52px;
}
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

/*** Scroll Bar ***/
/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: slategray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkslateblue;
}
div.card:focus {
    background: slateblue;
}

/*** navigation bar ***/
.sidebar {
    position: fixed;
    width: 100%;
    height: 52px;
    background: whitesmoke;
    border-bottom: 1px solid lightgrey;
    top: 0;
    left: 0;
    z-index: 999;
}
.sidebar-nav {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}
.branding-title {
    margin-left: 1rem;
}
.branding-title a {
    color: #373a47;
    text-decoration: none;
}

/*** side drawer ***/
.side_drawer {
    left: 0;
    padding: 15px 15px;
    max-width: 380px;
    height: 100%;
    position: fixed;
    top: 52px;
    background: whitesmoke;
    z-index: 200;
    box-shadow: 2px 0 4px lightslategrey;
}
.hamburger-line {
    width: 32px;
    height: 5px;
    background: black;
}
.toggle-drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 35px;
    height: 25px;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
}

.filter-input {
    margin-bottom: 20px;
}
