html,
body,
.root {
    height: 100%;
}
body {
    line-height: 1.5;
}
body,
.app {
    background: white;
    background-color: #bddef0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%238e9dd4' fill-opacity='0.59'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/*** Scroll Bar ***/
/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: lightgray;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: slategray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkslateblue;
}
div.card:focus {
    background: slateblue;
}

/*** navigation bar ***/
.sidebar {
    position: fixed;
    width: 100%;
    height: 52px;
    background: whitesmoke;
    border-bottom: 1px solid lightgrey;
    top: 0;
    left: 0;
    z-index: 999;
}
.sidebar-nav {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}
.branding-title {
    margin-left: 1rem;
}
.branding-title a {
    color: #373a47;
    text-decoration: none;
}

/*** side drawer ***/
.side-drawer {
    display: block;
    left: 0px;
    padding: 15px 15px;
    max-width: 380px;
    position: fixed;
    height: 100%;
    top: 52px;
    background: whitesmoke;
    z-index: 998;
    box-shadow: 2px 0 4px lightslategrey;
}
.hamburger-line {
    width: 32px;
    height: 5px;
    background: black;
}
.toggle-drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 35px;
    height: 35px;
    background: transparent;
    cursor: pointer;
    box-sizing: border-box;
    border: 0;
}
.toggle-drawer:focus {
    outline: none;
}
.filter-input {
    margin-bottom: 20px;
}
.info-label {
    margin: 10px 0;
    text-align: center;
}
